.main {
    background-color: transparent;
}
.alert {
    position: absolute;
    bottom: 2vh;
}
body{
    margin: 0px;
    font-family: "Segoe UI", Arial, sans-serif;
}
.main-title {
    text-shadow: 3px 1px 2px #2c2828
}
